.big-card {
    width: 100%;
    max-width: 358px;
    padding: 24px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: var(--Font-Size-md, 16px);

    & h2 {
        margin: 0;
        color: var(--color-text-dark);
        font-size: var(--Font-Size-xxl, 22px);
        font-weight: 500;
        line-height: 130%;
    }
}
