.wrap {
    display: flex;
    gap: 8px;
    padding: 8px;
    border-radius: 12px;
    background: var(--color-main-purple-10);
    width: 100%;
}

.control {
    width: 55px;
    padding: 8px 13px;
    color: var(--color-main-purple);
    font-size: 14px;
    font-weight: 510;
    line-height: 1.5;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.active {
    background-color: var(--color-main-purple);
    color: var(--color-text-white);
}
