.cardWrapper {
    background-color: var(--color-background-white);
    border-radius: 24px;
    margin-top: 8px;
    padding-block: 20px;
}

.cardTitle {
    font-weight: 510;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 4px;
}

.cardLink {
    margin-top: 12px;
    background-color: var(--color-background-light);
    border-radius: 12px;
    padding: 16px;
    padding-inline-end: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardLinkText {
    padding-block: 12px;
    line-height: 1.35;
}
