.amountWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.amountTitle {
    font-weight: 510;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-text-dark-70);
}

.coinInfo {
    padding: 12px;
    border-radius: 12px;
    background: var(--color-background-light);
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.coinInfoImage {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%
}

.column {
    display: flex;
    flex-direction: column;
}

.columnWide {
    flex-grow: 1;;
}

.coinInfoTitle {
    color: var(--color-text-dark);
    font-weight: 510;
    line-height: 1.35;
}

.coinInfoSubtitle {
    color: var(--color-text-dark-50);
    font-size: 12px;
    line-height: 1.5;
}
