.amount {
    .title {
        color: var(--color-text-dark-70);
        font-size: var(--Font-Size-sm, 14px);
        font-style: normal;
        font-weight: 510;
        line-height: 150%;
    }

    .coinInfo {
        padding: 12px;
        border-radius: 12px;
        background: var(--Colors-Background-Light, #f9f8ff);
        display: flex;
        justify-content: space-between;
        gap: 12px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .column {
            display: flex;
            flex-direction: column;

            &:nth-child(2) {
                flex-grow: 1;
            }

            .title {
                color: var(--color-text-dark);
                font-size: var(--Font-Size-md, 16px);
                font-style: normal;
                font-weight: 510;
                line-height: 135%;
            }
            .sub {
                color: var(--color-text-dark-50);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 18px */
            }
        }
    }
}
