.color-pallet-grey {
    color: var(--color-pallete-grey);
}

.color-main-purple {
    color: var(--color-main-purple);
}

.color-system-green {
    color: var(--color-system-green);
}

.color-text-dark-70 {
    color: var(--color-text-dark-70);
}

.color-text-dark-50 {
    color: var(--color-text-dark-50);
}
