/*
    NOTICE
    Если нужно добавить новые шаг, то добавлять к каждой из четырёх групп!
 */

/* padding-top */
.pt-1 { padding-top: var(--ds-step); }
.pt-2 { padding-top: calc(var(--ds-step) * 2); }
.pt-3 { padding-top: calc(var(--ds-step) * 3); }
.pt-4 { padding-top: calc(var(--ds-step) * 4); }
.pt-5 { padding-top: calc(var(--ds-step) * 5); }

/* padding-inline-end */
.pe-1 { padding-inline-end: var(--ds-step); }
.pe-2 { padding-inline-end: calc(var(--ds-step) * 2); }
.pe-3 { padding-inline-end: calc(var(--ds-step) * 3); }
.pe-4 { padding-inline-end: calc(var(--ds-step) * 4); }
.pe-5 { padding-inline-end: calc(var(--ds-step) * 5); }

/* padding-bottom */
.pb-1 { padding-bottom: var(--ds-step); }
.pb-2 { padding-bottom: calc(var(--ds-step) * 2); }
.pb-3 { padding-bottom: calc(var(--ds-step) * 3); }
.pb-4 { padding-bottom: calc(var(--ds-step) * 4); }
.pb-5 { padding-bottom: calc(var(--ds-step) * 5); }

/* padding-inline-start */
.ps-1 { padding-inline-start: var(--ds-step); }
.ps-2 { padding-inline-start: calc(var(--ds-step) * 2); }
.ps-3 { padding-inline-start: calc(var(--ds-step) * 3); }
.ps-4 { padding-inline-start: calc(var(--ds-step) * 4); }
.ps-5 { padding-inline-start: calc(var(--ds-step) * 5); }
