.cardAddress {
    padding-block: 20px;
    border-radius: 24px;
    background: var(--color-background-white);
    margin-top: 16px;
}

.cardAddressContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sectionTitle {
    font-weight: 510;
    font-size: 14px;
    line-height: 1.5;
}

.textField {
    border: none;
    outline: 1px solid var(--color-main-purple-20);
    resize: none;
    padding: 14px 12px;
    width: 100%;
    border-radius: 12px;
    line-height: 1.5;
    background-color: var(--color-background-white);
    color: var(--color-text-dark);
}

.textField:focus-visible {
    outline-color: var(--color-main-purple);
}

.cardCommission {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 14px 12px;
    background-color: var(--color-background-light);
}
