:root {
    $colorDark: #24262e;
    $colorWhite: #ffffff;
    $colorGrey: #505464;
    $colorPurple: #5b39f4;
    $colorWhiteDark: #f9f8ff;
    $colorGreen: #61c66c;
    $colorRed: #ff584e;

    // Color text white
    --color-text-white: #{$colorWhite};

    // Color text dark
    --color-text-dark: #{$colorDark};
    --color-text-dark-70: #{rgba($colorDark, 70%)};
    --color-text-dark-50: #{rgba($colorDark, 50%)};
    --color-text-dark-20: #{rgba($colorDark, 20%)};
    --color-text-dark-10: #{rgba($colorDark, 10%)};

    // Color background
    --color-background-light: #{$colorWhiteDark};
    --color-background-white: #{$colorWhite};

    // Color system
    --color-system-green: #{$colorGreen};
    --color-system-red: #{$colorRed};

    // Color pallete
    --color-pallete-grey: #{$colorGrey};
    --color-pallete-dark: #{$colorDark};
    --color-pallete-dark-20: #{rgba($colorDark, 20%)};
    --color-pallete-dark-10: #{rgba($colorDark, 10%)};
    --color-pallete-white: #{$colorWhite};

    // Color main
    --color-main-purple: #{$colorPurple};
    --color-main-purple-20: #{rgba($colorPurple, 20%)};
    --color-main-purple-10: #{rgba($colorPurple, 10%)};

    // Gradients
    --user-avatar-background: linear-gradient(
        150deg,
        #977fff 5.93%,
        #5b39f4 110.96%
    );
}
