.wrap {
    padding: 12px 48px 12px 12px;
    display: flex;
}

.icon {
    margin-right: 8px;
    width: fit-content;
}

.textWrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    color: var(--color-text-dark);
    font-weight: 510;
    font-size: 16px;
}
.text {
    color: var(--color-text-dark);
    font-weight: 400;
    line-height: 150%;
    font-size: 14px;
}
