.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 24px;
    border-radius: 12px;
    background-color: var(--color-main-purple);
    color: var(--color-text-white);
    text-align: center;
    font-weight: 500;
    line-height: 1.35;
}

.buttonSecondary {
    background-color: var(--color-main-purple-10);
    color: var(--color-main-purple);
}

.buttonDisabled {
    background-color: var(--color-text-dark-10);
    color: var(--color-text-dark-20);
}

.spinLoading {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
