.fieldContainer {
    position: relative;
    height: 60px;
}

.field {
    width: 100%;
    height: 60px;
    padding: 0;
    color: var(--color-text-dark);
    font-size: 44px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 590;
    line-height: 130%;
}

.currencyLabel {
    position: absolute;
    left: 35px;
    bottom: 5px;
    pointer-events: none;
    transition: left 0.1s ease-in;
    color: var(--color-text-dark-50);
    font-size: 32px;
    font-style: normal;
    font-weight: 590;
    line-height: 130%;
}

.fieldError .field,
.fieldError .currencyLabel {
    color: var(--color-system-red);
}
