.wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.wrap img {
    width: 250px;
}
