.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 24px;
    border-radius: 12px;
    background-color: #5b39f4;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    line-height: 135%;
}

.buttonSecondary {
    background-color: rgba(#5b39f4, 0.1);
    color: #5b39f4;
}

.spinLoading {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
