.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 24px;
    border-radius: 12px;
    background-color: #5B39F4;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    line-height: 135%;
}

.buttonSecondary {
    background-color: rgba(#5b39f4, 0.1);
    color: #5B39F4;
}
