button.button-primary {
    text-align: center;
    font-family: var(--Font-Family-All, 'DM Sans');
    font-size: var(--Font-Size-md, 16px);
    font-weight: 500;
    line-height: 135%;
    border-radius: 12px;
    border: 0;
    background: #5b39f4;
    color: #fff;
    padding: 14px 24px;
    width: 100%;
    justify-content: center;
    align-items: center;

    &:disabled {
        color: var(--color-text-dark-20);
        background: var(--color-text-dark-10);
    }
}

button.button-secondary {
    &:disabled {
        background: var(--color-main-purple-10);
        color: #5b39f4;
    }
}
