.profile {
    padding-top: 32px;
}

.gitPages {
    /* WTF???? */
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    a {
        color: var(--Colors-Main-Purple, #5b39f4);
    }
}
