.wrap {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    background: var(--Colors-Background-Light, #f9f8ff);

    .img {
        width: 40px;
        height: 40px;
    }

    .column {
        display: flex;
        flex-direction: column;

        .titleWrap {
            display: flex;

            .title {
                display: block;
                max-width: 155px;
                width: 100%;
                margin-left: 8px;
            }
        }
    }

    .coinName {
        color: var(--colors-text-dark-50, rgba(36, 38, 46, 0.5));
        font-size: 12px;
    }

    .money {
        margin-left: auto;
    }

    .pnl {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 10px;

        .lose {
            color: var(--color-system-red);
        }
        .profit {
            color: var(--color-system-green);
        }

        .dot {
            width: 2px;
            height: 2px;
            border-radius: 50%;

            &.lose {
                background-color: var(--color-system-red);
            }
            &.profit {
                background-color: var(--color-system-green);
            }
        }
    }
}
