.wrap {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 12px;
    border-radius: var(--Font-Size-xs, 12px);
    background: var(--Colors-Background-Light, #f9f8ff);

    .img {
        width: 40px;
        height: 40px;
    }

    .column {
        display: flex;
        flex-direction: column;

        .titleWrap {
            display: flex;

            .title {
                display: block;
                max-width: 155px;
                width: 100%;
            }
        }
    }

    .coinName {
        color: var(--colors-text-dark-50, rgba(36, 38, 46, 0.5));
        font-size: var(--Font-Size-xs, 12px);
    }

    .money {
        margin-left: auto;
    }

    .pnl {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: var(--Font-Size-xxs, 10px);

        .lose {
            color: var(--Colors-System-Red, #ff584e);
        }
        .profit {
            color: var(--Colors-System-Green, #61c66c);
        }

        .dot {
            width: 2px;
            height: 2px;
            border-radius: 50%;

            &.lose {
                background-color: var(--Colors-System-Red, #ff584e);
            }
            &.profit {
                background-color: var(--Colors-System-Green, #61c66c);
            }
        }
    }
}
