.etf-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.index--balance {
    & h2 {
        color: var(--color-black);
        text-align: center;
        font-size: var(--Font-Size-md, 16px);
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin: 0;
    }

    & p {
        color: var(--color-black);
        text-align: center;
        font-size: 38px;
        font-weight: 600;
        line-height: 130%;
        margin: 0;

        & span {
            color: var(--text-dark-50, rgba(27, 27, 27, 0.5));
        }
    }
}
