.main {
    padding: 32px 16px;

    .wrap {
        padding: 20px 16px;
        border-radius: 24px;
        background: var(--Colors-Background-White, #fff);
        margin-top: 16px;
    }

    .column {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .title {
            color: var(--color-text-dark-70);

            font-size: var(--Font-Size-sm, 14px);
            font-style: normal;
            font-weight: 510;
            line-height: 150%; /* 21px */
        }

        .row {
            border-radius: 12px;
            border: 0px solid
                var(--color-main-purple-20);
            background: var(--Colors-Background-Light, #f9f8ff);
            padding: 14px 12px;
            word-break: break-all;
        }
        .commission {
            display: flex;
            padding: var(--Font-Size-sm, 14px) 12px;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 12px;
            border: 0px solid
                var(--color-main-purple-20);
            background: var(--Colors-Background-Light, #f9f8ff);
        }
    }
}
