.step-indicator {
    width: 100%;
    height: 5px;
    background-color: #e0e0e0;
    border-radius: 3px;
    position: relative;

    &--progress {
        height: 100%;
        background-color: #7a3df5;
        border-radius: 3px;
        transition: width 0.3s ease;
    }

    &--wrapper {
        width: 100%;

        & > p {
            color: var(--color-text-dark);
            text-align: center;
            font-size: var(--Font-Size-lg, 18px);
            font-weight: 500;
            line-height: 150%;
        }
    }
}
