.depositePage {
    padding-top: 32px;
}

.depositeHeader {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.depositeTitle {
    font-weight: 590;
    font-size: 32px;
    line-height: 1.3;
}

.assetsWrapper {
    margin-top: 16px;
    background-color: var(--color-background-white);
    border-radius: 24px;
    padding-block: 20px;
}
