.wrap {
    position: relative;

    .balans {
        color: var(--color-text-dark);
        font-family: var(--Font-Family-V1, 'SF Pro');
        font-size: 44px;
        font-weight: 590;
        line-height: 130%;

        .shadow {
            color: var(--color-text-dark-50);
        }
    }

    .labelWrap {
        display: flex;
        justify-content: space-between;
    }

    .label {
        color: var(--color-text-dark-70);
        font-size: var(--Font-Size-md, 16px);
        line-height: 24px;
    }

    .alert {
        width: 32px;
        height: 32px;
        border-radius: var(--Font-Size-lg, 18px);
        background: var(--Colors-Background-White, #fff);
        padding: 6px;
    }

    .pnl {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 2px;
        padding: 2px 12px 2px;
        border-radius: 40px;
        background: var(--color-system-green);
        font-size: 12px;

        .val {
            color: var(--text-white);
        }
        .icon {
            width: 12px;
            height: 12px;
            display: block;
        }
    }
}

.wallet {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
    .deposit {
        padding: 8px;
        background: var(--color-main-purple);
        border-radius: 20px;
        color: var(--color-background-white, #fff);
        font-size: 14px;
    }
}

.bottomSheet {
    display: flex;
    flex-direction: column;

    .address {
        font-size: 16px;
        /* margin-inline: auto; */
    }
    .info {
        display: flex;
        flex-direction: column;
    }

    .control {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 8px;
        margin-bottom: 8px;

        input {
            max-width: 100px;
            width: 100%;
            padding: 8px;
            border: 1px solid var(--color-main-purple-10);
            border-radius: 8px;
        }
    }
}
