.card {
    display: flex;
    padding-block: 8px;
}

.card:not(:last-child) {
    border-bottom: 1px solid var(--color-main-purple-10);
}

.card:first-child {
    padding-top: unset;
}

.card:last-child {
    padding-bottom: unset;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cardInfoTitle {
    font-weight: 510;
    line-height: 1.35;
}

.cardInfoStart {
    flex: 1 1 100%;
}

.statusDateWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-text-dark-50);
}

.cardInfoEnd {
    min-width: 84px;
    text-align: right;
    line-height: 1.5;
}

.price {
    color: var(--color-status, var(--color-text-dark));
}

.status {
    font-size: 12px;
    color: var(--color-text-dark-50);
}
