.transactionSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.transactionTitle {
    font-weight: 510;
    font-size: 18px;
    line-height: 1.5;
}

.transactionCardWrapper {
    background-color: var(--color-background-light);
    border-radius: 16px;
    padding: 16px;
}
