.footerWrap {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: var(--z-index-101);
}

.availableBalance {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 14px;
    line-height: 1.5;
}

.availableBalanceImage {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

.infoWrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.balance {
    font-weight: 510;
    line-height: 1.35;
}

.footer {
    border-top: 1px solid rgba(60, 60, 67, 0.1);
    background-color: var(--color-background-white);
    padding: 8px 16px 24px 16px;
    width: 100%;
}
