.footerWrap {
    position: fixed;
    bottom: 21px;
    left: 0;
    z-index: 101;
    width: 100%;

    .availableBalance {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        .title {
            color: var(--color-text-dark);
            font-size: var(--Font-Size-sm, 14px);
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 21px */
        }

        .infoWrap {
            display: flex;
            gap: 8px;
            .balance {
                color: var(--color-text-dark);
                font-size: var(--Font-Size-md, 16px);
                font-weight: 510;
                line-height: 135%; /* 21.6px */
            }
        }
    }

    .footer {
        border-top: 0.33px solid
            var(--Separator-Colors-Non-Opaque, rgba(60, 60, 67, 0.36));
        background: rgba(255, 255, 255, 0.75);
        background-blend-mode: hard-light;
        backdrop-filter: blur(10px);
        padding: 12px 16px;
    }
}

.imgFooter {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
