/*
    --position-top-percent
        - расчёт позиции сверху в процентном соотношении

    --position-top
        - позиция сверху, задаётся в каждом изображении

    --max-height-for-canvas
        - максимальное значение высоты холста в котором происходит анимация

    --animation-bottom
        - позиция по которой определяется
        насколько нужно оттолкнуться снизу и лететь вверх, чтоб остановиться

    --height
        - высота картинки, задаётся в каждом изображении

    --width
        - ширина картинки, задаётся в каждом изображении
*/

.imageBlock {
    --position-top-percent: calc((var(--position-top) * 100) / var(--max-height-for-canvas) * 1%);
    --animation-bottom: calc(100% - var(--position-top-percent) - var(--height));
    width: var(--width);
    height: var(--height);
    position: absolute;
    bottom: -100%;
    opacity: 0;
    left: calc(var(--position-left) * 1px);
}
