.learn-section {
    width: 100%;
    max-width: 360px;
    margin-bottom: 24px;

    &--cards {
        display: flex;
        gap: 16px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none; // for Firefox
        &::-webkit-scrollbar {
            display: none; // for Chrome, Safari, and Edge
        }

        &-card {
            & img {
                border: 2px solid var(--color-main-purple-20);
                padding: 1px;
                border-radius: 12px;
                overflow: hidden;
            }

            & p {
                color: var(--color-text-dark-50);
                font-size: 12px;
                line-height: 150%;
                margin: 0;
            }

            & h3 {
                color: var(--color-text-dark);
                font-size: var(--Font-Size-md, 16px);
                font-weight: 500;
                line-height: 135%;
            }
        }
    }
}
