.wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-top: 1px solid var(--colors-main-purple-10, rgba(91, 57, 244, 0.1));
    padding-top: 12px;
    padding-bottom: 12px;
    &:first-child {
        border-top: unset;
        padding-top: unset;
    }
    &:last-child {
        padding-bottom: unset;
    }
    .mb-1 {
        margin-bottom: 5px;
    }

    .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .description {
        max-width: 190px;
    }

    .samllText {
        color: var(--colors-text-dark-50, rgba(36, 38, 46, 0.5));
        font-size: var(--Font-Size-xs, 12px);
    }

    .dateWrap {
        display: flex;
    }
    .icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
}

.blockWrap {
    padding: var(--Font-Size-md, 16px);

    .groupWrap {
        border-radius: 12px;
        background: var(--Colors-Background-Light, #f9f8ff);
        display: flex;
        padding: var(--Font-Size-md, 16px);
        flex-direction: column;
    }

    .date {
        display: block;
        color: var(--Colors-Text-Dark, #24262e);
        font-size: var(--Font-Size-lg, 18px);
        font-weight: 510;
        padding-bottom: 12px;
    }
}
