.home-active{
    & path:first-child {
        transition: all 0.25s ease-in-out;
        color: #24262E;
        opacity: 1;
    }
    &  path:last-child {
        fill: white;
    }
}

.about-active {
    & path:first-child{
        transition: all 0.25s ease-in-out;
        fill: #24262E;
        opacity: 1;
    }
    & path:not(:first-child){
        fill: white;
    }
}
