.home-active {
    & path:first-child {
        transition: all 0.25s ease-in-out;
        color: var(--color-text-dark);
        opacity: 1;
    }
    & path:last-child {
        fill: white;
    }
}

.about-active {
    & path:first-child {
        fill: var(--color-text-dark);
        opacity: 1;
    }
    & #status-up path {
        transition: all 0.25s ease-in-out;

        fill: white;
    }
}
