.funds-page{

  &--h1{
    color: var(--Text-Dark, #1B1B1B);
    text-align: center;
    font-size: var(--Font-Size-xxl, 22px);
    font-weight: 500;
    line-height: 130%;
    margin: 0;
  }

  &--about-text{
    color: var(--colors-text-dark-70, rgba(36, 38, 46, 0.70));
    font-size: var(--Font-Size-md, 16px);
    font-weight: 400;
    line-height: 150%;
    margin: 0;
  }
}