.cardWrapper {
    background-color: var(--color-background-white);
    border-radius: 24px;
    margin-top: 8px;
    padding-block: 20px;
}

.cardTitle {
    font-weight: 510;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 4px;
}

.cardContent {
    margin-top: 12px;
    background-color: var(--color-background-light);
    border-radius: 12px;
    padding: 16px;
}

.cardItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding-block: 12px;
    font-weight: 510;
    line-height: 1.35;
}

.cardItem:first-child {
    padding-top: unset;
}
.cardItem:last-child {
    padding-bottom: unset;
}

.cardItem:not(:last-child) {
    border-bottom: 1px solid var(--color-main-purple-10);
}

.cardItemLabel {
    line-height: 1.5;
    text-align: right;
    color: var(--color-text-dark-70);
}
