// Global style
@import url('./assets/styles/index.css');

:root {
    --telegram-bg-color: #fff;
    --telegram-hint-color: #f0f1f5;
    --Text-Dark: #1b1b1b;
    --Font-Size-H0: 54px;
    --Font-Size-H1: 38px;
    --Font-Size-H2: 24px;
    --Font-Subhead-Size-M: 22px;
    --Font-Subhead-Size-S: 20px;
    --Font-body-xl: 18px;
    --Font-body-l: 16px;
    --Font-body-m: 14px;
    --Font-body-s: 12px;
    --Font-Size-m: 16px;
    --Font-Size-s: 14px;
    --Font-Size-xs: 12px;
    --Font-Size-xxs: 10px;
    --Colors-System-Green: #61c66c;
}
