.cardWrapper {
    background-color: var(--color-background-white);
    border-radius: 24px;
    margin-top: 16px;
    padding-block: 20px;
}

.cardTitle {
    font-weight: 510;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 4px;
}

.cardTitleCounter {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    font-size: 12px;
    color: var(--color-text-white);
    background-color: var(--color-main-purple);
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.cardSteps {
    margin-top: 12px;
    background-color: var(--color-background-light);
    border-radius: 12px;
    padding: 16px;
}

.step {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-block: 12px;
}

.step:first-child {
    padding-top: unset;
}
.step:last-child {
    padding-bottom: unset;
}

.step:not(:last-child) {
    border-bottom: 1px solid var(--color-main-purple-10);
}

.stepInfo {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex: 1 1 100%;
    font-weight: 510;
    font-size: 16px;
    line-height: 1.35;
}

.stepInfoReward {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-main-purple);
}

.stepButton {
    cursor: pointer;
    min-width: 64px;
    max-width: 64px;
    width: 64px;
    height: 32px;
    border-radius: 24px;
    background-color: var(--color-main-purple);
    display: grid;
    place-items: center;
}

.stepButtonLoading {
    background-color: red;
}

.stepButtonText {
    font-weight: 510;
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-text-white);
    text-align: center;
}

/* step done */
.stepDone .stepInfoReward {
    color: var(--color-system-green);
}

.stepDone .stepButton {
    background-color: var(--color-main-purple-20);
    cursor: default;
}
