body {
    font-family: var(--font-family-default);
}

@supports (font-variation-settings: normal) {
    body {
        font-family: var(--font-family-default-vf);
    }
}

body {
    background: var(--telegram-hint-color, #f0f1f5);
    color: var(--color-black);
    overflow: hidden;
}

body,
#root {
    height: var(--tg-viewport-height, 100vh);
}

main {
    height: calc(var(--tg-viewport-height, 100vh) - var(--tab-bar-height));
    min-height: calc(var(--tg-viewport-height, 100vh) - var(--tab-bar-height));
    max-height: calc(var(--tg-viewport-height, 100vh) - var(--tab-bar-height));
    overflow-y: auto;
    width: 100%;
}

.app-container {
    --padding-inline: var(--container-padding-inline, 16px);
    --max-width: 100%;
    padding-inline: var(--padding-inline);
    max-width: calc(var(--max-width) + var(--padding-inline));
    width: 100%;
}
