:root {
    /* Fonts */
    --font-family-default: 'SF Pro', sans-serif;

    /* Z-index */
    --z-index-1: 1;
    --z-index-100: 100;

    /* Grid / Template */
    --container-padding-inline: 16px;
    --tab-bar-height: 83px;

    /* Colors */
    --color-black: #1b1b1b;
    --color-white: #ffffff;
    --color-error: #ff584e;
    --color-success: #61c66c;

    /* Telegram custom property */
    --telegram-hint-color: #f0f1f5;
    --telegram-bg-color: #ffffff;
}
