.wrap {
    padding: 8px 16px;
    border-radius: 27px;
    border: 1px solid var(--colors-main-purple-10, rgba(91, 57, 244, 0.1));
    background: var(--Colors-Background-White, #fff);
    width: fit-content;

    color: var(--Labels-Primary, #000);
    font-family: var(--Font-Family-V1, 'SF Pro');
    font-size: var(--Font-Size-sm, 14px);
    font-weight: 510;
    line-height: 150%; /* 21px */
}
