.wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--color-background-light);
    height: 64px;
    border-radius: 12px;
    padding: 2px 0 2px 12px;
}

.img {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

.infoWrap {
    display: flex;
    flex-direction: column;
}

.name {
    color: var(--color-text-dark);
    font-size: 16px;
    font-weight: 510;
    line-height: 1.35;
}

.ticker {
    color: var(--color-text-dark-50);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}
