.swipable-container {
    width: 100%;
    max-width: 324px;
    background: #5b39f4;
    border-radius: 12px;
    position: relative;
    padding: 5px;

    & .text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--Colors-Text-White, #fff);
        text-align: center;
        font-size: var(--Font-Size-md, 16px);
        font-weight: 500;
        line-height: 135%;
    }
}

.swipe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 40px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
