.navBar {
    display: flex;
    gap: 8px;
    margin-top: 24px;
    isolation: isolate;
}

.navItemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 85px;
    width: 100%;
    border-radius: 16px;
    background-color: var(--color-background-white);
    padding: 12px;
}

.navItemCardDisabled {
    opacity: 0.5;
}

.navItemTitle {
    font-weight: 510;
    font-size: 14px;
    line-height: 1.5;
}
